*{
	box-sizing: border-box;
}

.logo
{
	width: 25%;
	height: 20vh;

	display: inline;
	float: left;

	background-color: #74f4d4;
}

.title
{
	width: 75%;
	height: 20vh;

	display: inline;
	float: right;

	background-color: #74d6f4;
}


.navigation
{
	width: 25%;
	height: 80vh;
	
	display: inline;
	float: left;
	
	background-color: khaki;
}

.dataView
{
	width: 75%;
	height: 80vh;

	display: inline;
	float: right; 

	background-color: silver;
}

